
.bcontent{
padding:20px;
}
.bcontent p {
    font-size: 16px;
    line-height: 1.5;
	text-align:left;
	margin: 0 0 15px;
	color:#666;
}
.bcontent strong{
font-weight:bold;
color:#333;
}

.h1{
    font-size: 21px;
    height: 47px;
    line-height: 47px;
    text-transform: uppercase;
}

h1{
	height:auto;
	text-transform:none;
	line-height:1.2em;
	margin-bottom:13px;
	color: #222;
	font-size: 22px;
	font-weight: normal;
	line-height: 1.4;
}


h1 strong{
	font-weight: bold;
}


h2.section {
	color: #333333;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 8px;
	border-bottom:1px solid rgba(0,0,0,0.3);
	border-top:1px solid rgba(0,0,0,0.3);
}

.bcontent ul.slats li {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 20px;
}

.bcontent ul.slats li p {
    margin: 0 0 15px 150px;
}

.bcontent ul.slats li p a {
   color:#4288CC;
}



.bcontent .group:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


.bcontent ul.slats li div.meta {
    float: left;
    width: 120px;
}

.bcontent ul.slats li img.avatar {
    border-radius: 4px 4px 4px 4px;
    margin: 4px 0 10px;
}

.bcontent ul.slats li h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 4px 150px;
    padding: 0;
}

.bcontent ul.slats li h4 {
	font-weight:bold;
    color: #4288CC;
    font-size: 14px;
    margin: 0 0 10px 150px;
    text-transform: uppercase;
}

.alinkedin{
width:118px;
text-align:center;
display:block;
}