html, body {
    min-height: 100%;
}

body {
    margin: 0;
    color: #626262;
    font: 16px/28px "Source Sans Pro", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: #626262;
}

a:hover {
    text-decoration: underline;
}

h3:first-child {
    margin-top: 0;
}

input,
textarea,
select {
    font: 12px/15px "Source Sans Pro", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: middle;
    color: #aaa;
}

input[type="submit"]:hover {
    cursor: pointer;
}

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

.gradient-container:after,
.setting-block .row:after {
    display: block;
    content: "";
    clear: both;
}

#wrapper {
    width: 962px;
    margin: 0 auto;

}

#wrapper.home {
    padding-top: 80px;
}

#wrapper .detail {
    padding-top: 40px;
}

#header {
    padding: 80px 10px 72px;
}

.switcher {
    list-style: none;
    padding: 0;
    margin: 28px auto 0;
    color: #fff;
    width: 640px;
}

.switcher a {
    color: #fff;
    display: block;
    padding: 24px;
    height: 100%;
    box-sizing: border-box;
}

.switcher a:hover {
    text-decoration: none;
}

.switcher li:hover {
    background: #FC6042;
}

.switcher li {
    background: #2C82C9;
    float: left;
    box-sizing: border-box;
    width: 319px;
    height: 319px;
    padding: 24px;
    margin: 0 1px 1px 0;
    overflow: hidden;
}

#main {
    width: 100%;
}

.gradient-block {
    overflow: hidden;
    margin: 0 0 128px 0;
}

.gradient-block .left-column {
    background: #fff url(../img/bg-left-column.gif) no-repeat;
    width: 600px;
    float: left;
}

.gradient-block .left-column > .holder {
    padding: 0 25px 20px;
    overflow: hidden;
}

.gradient-block .caption {
    display: block;
    margin: 0 0 17px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    text-transform: uppercase;
}

.gradient-block .left-column .scroll-container {
    padding: 0;
    margin: 0 0 30px;
}

.gradient-block .left-column .scroll-container > .holder {
    height: 128px;
    padding: 0 8px 0 0;
    overflow: auto;
    border: 0;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
}

.presets-list {
    list-style: none;
    padding: 0;
    margin: -10px 0 0 -10px;
    overflow: hidden;
}

.presets-list li {
    float: left;
    width: 34px;
    height: 34px;
    border: 1px solid #e3e3e3;
    margin: 9px 0 0 9px;
}

.presets-list a {
    display: block;
    height: 100%;
}

.presets-list img {
    display: block;
}

.gradient-container {
    width: 540px;
    padding: 0 0 0 10px;
    margin: 0 0 31px;
}

.btn-reverse {
    background: url(../img/sprite.png) no-repeat 0 -260px;
    float: right;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    overflow: hidden;
}

.gradient-panel {
    float: left;
    width: 474px;
    height: 38px;
    border: 1px solid #d1d1d1;
    position: relative;
}

.opacity-knob {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 6px;
}

.opacity-knob div {
    width: 21px;
    height: 21px;
    top: -5px;
    left: -5px;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    background: url(../img/sprite-knobs.png) no-repeat -39px 0;
}

.opacity-knob.selected div {
    background-position: -39px -39px;
}

.color-knob {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 6px;
}

.color-knob div {
    top: -5px;
    left: -5px;
    width: 21px;
    height: 21px;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    background: url(../img/sprite-knobs.png) no-repeat -39px 0;
}

.color-knob.selected div {
    background-position: -39px -39px;
}

.two-cols {
    overflow: hidden;
    margin: 0 0 20px;
}

.two-cols .col {
    width: 258px;
    float: right;
}

.two-cols .col:first-child {
    float:left;
}

.two-cols .col .frame {
    padding: 0 15px 20px;
}

.setting-block {
    padding: 20px 15px 23px;
    /*overflow: hidden;*/
}

.setting-block .row {
    width: 100%;
    padding: 0 0 10px;
}

.setting-block .row.color-row {
    padding: 11px 0 9px;
}

.setting-block label,
.setting-block .label {
    float: left;
    margin: 0 0 0 5px;
}

.setting-block .align-right {
    float: right;
    margin: 0 0 0 6px;
}

.setting-block .text-1,
.setting-block .text-2 {
    float: right;
    padding: 0 0 0 5px;
}

.text-1 input {
    width: 2em;
}

.setting-block .text-2 {
    background: url(../img/sprite.png) no-repeat -97px -260px;
}

.setting-block .text-2 input {
    float: left;
    width: 4em;
    height: 15px;
    padding: 3px 2px 4px;
    margin: 0;
    text-align: left;
    border-width: 1px;
    border-radius: 2px;
}

.btn-color {
    background: #4ea6ca;
    float: right;
    width: 29px;
    height: 20px;
    margin: 1px 7px 0 0;
    position: relative;
}

.btn-color span {
    background: url(../img/sprite-knobs.png) no-repeat -29px -78px;
    width: 31px;
    height: 22px;
    position: absolute;
    top: -1px;
    left: -1px;
    text-indent: -9999px;
    overflow: hidden;
}

.slider-bar {
    background: url(../img/sprite.png) no-repeat 0 -310px;
    width: 198px;
    height: 10px;
    position: relative;
    box-shadow: 0 1px 5px #eee inset;
}

.ui-slider-handle {

}

.ui-slider-handle:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.slider-bar.large {
    background-position: -170px -438px;
    width: 290px;
}

.slider-bar.hue-bar {
    background-position: 0 -380px;
}

.slider-bar.saturation-bar {
    background-position: 0 -400px;
}

.slider-bar.lightness-bar {
    background-position: 0 -420px;
}

.knob {
    background: url(../img/sprite-knobs.png) no-repeat 0 -74px;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: -3px;
}

.slider-bar .knob {
    left: 184px;
}

.slider-bar.hue-bar .knob,
.slider-bar.saturation-bar .knob,
.slider-bar.lightness-bar .knob {
    left: 92px;
}

.slider-bar.large .knob {
    left: 137px;
}

.btn-link-1 {
    display: block;
    width: 200px;
    height: 37px;
    margin: 0 auto;
    line-height: 36px;
    text-align: center;
    border: 0;
    border-radius: 2px;
    background-color: #4288CC;
    color: #FFF;
}

.gradient-block .left-column .box {
    width: 548px;
    margin: 0 0 20px;
}

.gradient-block .left-column .box .holder {
    margin: 0 -1px;
}

.gradient-block .left-column .box .frame {
    padding: 19px 30px 0;
    overflow: hidden;
}

.gradient-block .left-column .box .col {
    width: 200px;
    float: right;
}

.gradient-block .left-column .box .col:first-child {
    float: left;
}

.gradient-block .left-column .box .setting-block {
    padding: 1px 0 23px;
}

.gradient-block .left-column .box .btn-link-1 {
    margin: 9px 0 0;
}

.save-block {
    background: url(../img/sprite.png) no-repeat 0 -463px;
    height: 37px;
    overflow: hidden;
}

.btn-save {
    background: url(../img/sprite.png) no-repeat -250px 0;
    float: right;
    width: 90px;
    height: 37px;
    line-height: 36px;
    text-align: center;
}

.save-block input[type="text"] {
    float: left;
    width: 400px;
    height: 17px;
    padding: 8px 30px 12px;
    margin: 0;
    border: 0;
    background: none;
    font-size: 14px;
    line-height: 17px;
    color: #626262;
}

.gradient-block .right-column {
    width: 340px;
    float: right;
    position: relative;
    padding-left: 16px;
    border-left: 1px solid #D1D1D1;
}

.gradient-block .preview-block {
    overflow: hidden;
    padding: 0 0 17px;
}

.gradient-block .preview-box {
    float: left;
    width: 290px;
    height: 240px;
    position: relative;
}

.gradient-block .preview-box span {
    background: url(../img/bg-preview-box.png) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.gradient-block .preview-box img {
    display: block;
}

.btn-horizontal,
.btn-vertical,
.btn-diagonal-1,
.btn-diagonal-2,
.btn-radial {
    background: url(../img/sprite.png) no-repeat -259px -64px;
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 0 10px auto;
}

.btn-vertical {
    background-position: -259px -114px;
}

.btn-diagonal-1 {
    background-position: -259px -164px;
}

.btn-diagonal-2 {
    background-position: -259px -214px;
}

.btn-radial {
    background-position: -259px -264px;
}

.option-panel {
    overflow: hidden;
    padding: 0 46px 4px 40px;
    line-height: 18px;
}

.gradient-block .option-panel {
    padding: 0 59px 17px;
    font-size: 16px;
    line-height: 19px;
}

.setting-block .option-panel {
    margin: -4px 0 0;
}

.option-panel > span {
    float: right;
}

.option-panel > span:first-child {
    float:left;
}

.slider-block {
    overflow: hidden;
    width: 78px;
    height: 10px;
    padding: 5px 0 3px 2px;
    margin: 0 auto;
    line-height: 0;
}

.slider-block.marked {
    width: 50px;
}

.setting-block .slider-block {
    float: right;
}

.option-panel .slider-block {
    float: none;
}

.slider-block .dot {
    background: url(../img/sprite.png) no-repeat -429px -1px;
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
    margin: 1px 0 0;
}

.slider-block .dot.selected {
    background-position: -361px -1px;
}

.slider-block .slider-small {
    background: url(../img/sprite.png) no-repeat -374px 0;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 10px;
    margin: 0 1px;
    position: relative;
}

.slider-block.marked .slider-small {
    margin: 0;
}

*+html .slider-block .dot,
*+html .slider-block .slider-small {
    display: inline;
}

*+html .slider-block .slider-small {
    margin: 0 5px;
}

.slider-block .knob.left-pos {
    left: 0;
}

.slider-block .knob.right-pos {
    right: 0;
}

.slider-block.marked .knob.left-pos {
    background: url(../img/sprite-knobs.png) no-repeat 0 -114px;
}

.slider-block.marked .knob.right-pos {
    background: url(../img/sprite-knobs.png) no-repeat -44px -114px;
}

.gradient-block .right-column .block {
    background: url(../img/separator.gif) repeat-x 0 100%;
    padding: 0 0 3px;
    margin: 0 0 14px;
}

.gradient-block .right-column .scroll-container {
    height: 340px;
    overflow: auto;
    margin: 0 0 0 0;
    font-size: 11px;
    line-height: 20px;
    color: #969696;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #CFCFCF;
}

.gradient-block .right-column .scroll-container .holder {
    background: url(../img/bg-scroll-container.gif);
    padding: 0 0 0 11px;
    margin: 0 0 0 0;
    overflow: hidden;
}

.gradient-block .right-column .scroll-container p {
    float: left;
    width: 100%;
    margin: -1px 0 1px;
}

.bottom-separator {
    background-image: linear-gradient(to right, #333 20%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
}

.bottom-panel {
    min-height: 44px;
    padding: 0 0 6px;
    margin: 0 0 15px;
    overflow: hidden;
}

.bottom-panel .col {
    width: 90px;
    float: left;
    margin: 0 0 0 10px;
    text-align: center;
    font-size: 12px;
}

.bottom-panel .col:first-child {
    margin:0;
}

.bottom-panel span,
.bottom-panel label {
    display: block;
    margin: 0 0 6px;
}

.bottom-panel select {
    width: 70px;
}

.buttons-block {
    overflow: hidden;
    padding: 0 0 0 5px;
}

.btn-link-2 {
    background-color: #90C8FF;
    color: #000;
    float: left;
    width: 148px;
    height: 27px;
    margin: 0 4px 0 0;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 2px;
}

.btn-link-2:hover {
    text-decoration: none;
}

.twocolumns {
    overflow: hidden;
    padding: 0 0 95px 0;
}

.twocolumns .left-column {
    float: left;
    width: 340px;
}

.twocolumns .box {
    background: #fff;
    margin: 0 0 10px;
}

.twocolumns .box > .holder {
    margin: 0 -1px;
    overflow: hidden;
}

.twocolumns .box > .holder > .frame {
    padding: 20px 25px 0;
    overflow: hidden;
}

.twocolumns .setting-block {
    background: url(../img/separator.gif) repeat-x;
    padding: 21px 0 23px;
}

.twocolumns .setting-block:first-child {
    background: none;
    padding-top: 0;
}

.twocolumns .setting-block .color-row {
    padding: 0;
    margin: -3px 0 0;
    position: relative;
    top: 3px;
}

.btn-color.color-1 {
    background: #3991b5;
}

.btn-color.color-2 {
    background: #ebebeb;
}

.btn-color.color-3 {
    background: #000;
}

.btn-color.color-4 {
    background: #e7a61a;
}

.btn-color.color-5 {
    background: #ffffff;
}

.setting-block.wrap {
    margin: -4px 0 0;
    padding-bottom: 5px;
}

*+html .setting-block.wrap {
    position: relative;
    top: -5px;
    margin-bottom: -5px;
}

.setting-block.wrap .row {
    float: right;
    width: auto;
    clear: right;
    padding: 0 0 15px;
}

*+html .setting-block.wrap .row {
    padding: 2px 0 15px;
}

.setting-block.wrap label {
    float: none;
    margin: 0;
}

.setting-block.wrap .text-1 {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

*+html .setting-block.wrap .text-1 {
    display: inline;
    margin: -2px 4px 0 0;
}

.btn-link-3 {
    background: url(../img/sprite.png) no-repeat 0 -514px;
    display: block;
    width: 340px;
    height: 56px;
    line-height: 56px;
    text-align: center;
}

.twocolumns .right-column {
    float: right;
    width: 600px;
    height: 531px;
    position: relative;
}

.twocolumns .preview-block {
    background: #4ea6ca;
    width: 361px;
    height: 370px;
    position: relative;
    margin: 81px auto 0;
}

.twocolumns .preview-block span {
    background: url(../img/bg-preview-block.png) no-repeat;
    width: 378px;
    height: 388px;
    position: absolute;
    top: -9px;
    left: -9px;
}

.twocolumns .preview-block img {
    display: block;
}

.slider-bar.large .knob.pos-1 {
    left: 147px;
}

.slider-bar.large .knob.pos-2 {
    left: 167px;
}

.slider-bar.large .knob.pos-3 {
    left: 187px;
}

.twocolumns .box-wrap {
    width: 390px;
    height: 370px;
    margin: 77px auto 0;
    position: relative;
}

.twocolumns .box-wrap img {
    display: block;
}

.twocolumns .box-wrap .content {
    border: 1px solid #666;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    width: 298px;
    padding: 20px;
    position: absolute;
    top: 83px;
    left: 15px;
    font-size: 12px;
    line-height: 15px;
}

.twocolumns .box-wrap .content p {
    margin: 0 0 15px;
}

#css-code-content {
    text-align: left;
    overflow: auto;
    border: 0;
    height: 100%;
}

#opacity-value-slider-bar {

    background: rgba(255,255,255,0);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
    box-shadow: 0 1px 2px #bbb inset;
}

#import-css-area {
    width: 300px;
    height: 130px;
    margin-bottom: 16px;
    margin-top: 10px;
}

#import-css-panel p {
    text-align: left;
    font-size: 12px;
    font-height: 18px;
    margin: 1em 0 0 0;
}

#ie-support-info {
    text-align: left;
}

#ie-support-info code {
    margin-top: 20px;
    margin-left: 20px;
}

.stop-markers-color {
    position: absolute;
    cursor: pointer;
    width: 484px;
    height: 20px;
    left: -5px;
    top: 30px;
    z-index: 5;
}

.stop-markers-opacity {
    position: absolute;
    cursor: pointer;
    width: 484px;
    height: 20px;
    left: -5px;
    top: -10px;
    z-index: 5;
}

.gradient-background {
    background: url('../img/alpha.png');
}

#gradient-editor {
    position: relative;
    z-index: 2;
}

.colorpicker {
    z-index: 9;
}

#box-shadow-panel {
    width: 370px;
    height: 380px;
}

#box-shadow-object {
    width: 370px;
    height: 380px;
}

#select-border {
    width: 100px;
}

#border-radius-panel {
    width: 370px;
    height: 380px;
}

#opacity-gradient {
    top: 578px;
    left: 230px;
    width: 150px;
    height: 10px;
    position: absolute;
    z-index: 9999;
    background: rgb(0,0,0);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
    border: 1px solid #555;
}

.h1home {
    margin: 48px -10% 24px;
    box-sizing: border-box;
    width: 120%;
    font-family: Courgette, serif;
    font-size: 32px;
    color: #57595b;
    text-transform: none;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    text-align: center;
}

.bylogos {
    margin: 30px 0 20px 0;
    font-family: Courgette, serif;
    font-size: 20px;
    color: #57595b;
    text-transform: none;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    display: block;
    text-align: center;
}

.bl {
    width: 190px;
    height: 50px;
    display: inline-block;
    text-indent: -100000px;
}

.logofreepik {
    background: url(../img/freepik-logo.png) no-repeat;
}

.logothumbr {
    background: url(../img/thumbr-it-logo.png) no-repeat;
}

.h1home strong {
    color: #4288cc;
}

#footer {
    margin-top: 50px;
    border-top: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 -1px 1px rgba(255,255,255,0.5);
    color: #969595;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    padding: 20px 0 20px;
    text-align: center;
}

#footer a {
    color: #5a5a5a;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.h1bar {
    background: #FFF;
    margin-bottom: 12px;
    padding: 5px 15px;
}

.h1bar h1 {
    float: left;
}

.h1bar .social {
    float: right;
}

.headerdetail {
    padding: 30px 0;
    text-align: center;
}

.textop {
    text-align: center;
    font-size: 24px;
}

.textop strong {
    color: #4288CC;
}

.logo {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.ui-widget-content {
    border: 0;
}

#noise-canvas {
    display: block;
    margin: 80px auto !important;
}

.divcsscode {
    margin-top: 10px;
}

#css-code-noise {
    background: #fff;
    position: absolute;
    font-size: 12px;
    left: 38px;
    display: block;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #666;
    display: block;
    border-radius: 4px 4px 4px 4px ;
    -moz-border-radius: 4px 4px 4px 4px;
    webkit-border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
    top: 138px;
    width: 494px;
}

.plugin {
    padding-top: 30px;
    background: url(../img/bg-items.png) center top no-repeat;
}

#plugins .text {
    padding-top: 50px;
}

#plugins h2 a {
    font-family: 'Tinos',serif;
    font-size: 36px;
    color: #222;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.9);
}

#plugins p {
    font-size: 16px;
    margin-top: 18px;
    line-height: 1.3em;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.9);
}

#plugins  .mid-container {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 940px;
}

#plugins .col {
    float: left;
    padding-bottom: 40px;
    text-align: left;
    width: 467px;
}

#plugins .colr {
    overflow: hidden;
    padding-bottom: 40px;
    text-align: left;
    width: 467px;
}

#copy-text-input {
    margin: 10px auto;
    opacity: 1;
    transition: all 0.2s linear 0s;
}

.btn-link-1:hover {
    background: #4792DB;
    text-decoration: none;
}

.btn-link-1:active {
    background: #3674AF;
}

#copy-text-input:hover {
    opacity: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.9), 0 0 5px rgba(0,0,0,0.9);
}

/* Messages*/
div.message {
    position: relative;
    width: 700px;
    border-width: 1px;
    border-style: solid;
    margin: 10px auto;
    text-align: right;
    padding: 15px 20px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: url(../img/diagonal_pattern.png);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    text-align: center;
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

div.message div.icon {
    display: block;
    width: 16px;
    height: 16px;
    float: left;

    background: no-repeat left center;
    cursor: pointer;
}

div.message div.triangle {
    position: absolute;
    bottom: -1px;
    right: -1px;

    width: 14px;
    height: 14px;
    background: no-repeat bottom left;
}

div.message.info {
    color: #6699cc; background-color: #8fdde7; border-color: #52ccdc;

    -moz-box-shadow: 0 2px 0 -1px #52ccdc;
    -webkit-box-shadow: 0 2px 0 -1px #52ccdc;
    box-shadow: 0 2px 0 -1px #52ccdc;
}

div.message.info div.icon {
    background-image: url(../img/plus.png);
}

div.message.info div.triangle {
    background-image: url(../img/blue_corner.png);
}

div.message.error {
    color: #8c0c0c; background-color: #ff6666; border-color: #cc6666;

    -moz-box-shadow: 0 2px 0 -1px #cc6666;
    -webkit-box-shadow: 0 2px 0 -1px #cc6666;
    box-shadow: 0 2px 0 -1px #cc6666;
}

div.message.error div.icon {
    background-image: url(../img/close.png);
}

div.message.error div.triangle {
    background-image: url(../img/red_corner.png);
}

div.message.success {
    color: #08713c; background-color: #5bde9a; border-color: #33cc66;

    -moz-box-shadow: 0 2px 0 -1px #33cc66;
    -webkit-box-shadow: 0 2px 0 -1px #33cc66;
    box-shadow: 0 2px 0 -1px #33cc66;
}

div.message.success div.icon {
    background-image: url(../img/tick.png);
}

div.message.success div.triangle {
    background-image: url(../img/green_corner.png);
}

/**/
.social {
    margin-top: 12px;
    width: 320px;
    height: 23px;
}

.mtop15 {
    margin-top: 15px;
}

#copy-text-input {
    top: 30px;
    position: relative;
}

.frame #copy-text-input {
    top: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

#collaborate {
    width: 900px;
    margin: 30px auto;
    background: rgba(0,0,0,0.08);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding: 12px 25px;
    position: relative;
    margin-bottom: 50px;
}

#collaborate .text {
    float: left;
    font-size: 18px;
    line-height: 30px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

#collaborate .text strong {
    color: #333;
}

#collaborate .cartoon {
    float: left;
    width: 200px;
    height: 194px;
    display: block;
    background: url(../img/cb.png) no-repeat;
    position: absolute;
    left: 640px;
    top: -80px;
}

#collaborate .contact {
    float: right;
    font-size: 18px;
    line-height: 55px;
    color: #4288CC;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

#collaborate .contact:hover {
    color: #1f568c;
}

/* Navigation */
.nav {
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.nav a {
    color: #000;
    display: block;
    text-align: center;
    padding: 12px 24px;
}

.nav a {
    text-decoration: none;
}

.nav li {
    margin: -1px 0 0 0;
    padding: 0;
    display: inline-block;
    border-top: 1px solid #ccc;
}

.nav li h1 {
    font-size: inherit;
    padding: 0;
    margin: 0;
}

.nav .nav-selected {
    border-top-color: #000;
    font-weight: bold;
}

.nav li:hover {
    border-top: 1px solid #000;
}

.social-links {
    text-align: center;
    margin: 0 0 12px;
}

.social-links a {
    color: #aaa;
}

.social-links a:hover {
    color: #000;
    text-decoration: none;
}

.adblock {
    margin: 0 auto 18px;
    text-align: center;
}

/* flaticon */
@font-face {
    font-family: "Flaticon";
    src: url("/fonts/flaticon.eot");
    src: url("/fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("/fonts/flaticon.woff") format("woff"),
    url("/fonts/flaticon.ttf") format("truetype"),
    url("/fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.flaticon::before,
.flaticon::after {
    font-family: "Flaticon";
    font-size: 20px;
    font-style: normal;
    margin-left: 8px;
}

.fi-facebook42::before {
    content: "\e000";
}

.fi-google105::before {
    content: "\e001";
}

.fi-twitter35::before {
    content: "\e002";
}
