<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% trans %}The ultimate CSS tools for web designers | CSSmatic{% endtrans %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    {% block css %}
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,900,900italic|Source+Code+Pro|Courgette' rel='stylesheet' type='text/css'>
      <link rel='stylesheet' type='text/css' href='{{ "/css/jquery.ui.css"|static_v }}'>
      <link rel='stylesheet' type='text/css' href='{{ "/css/colorpicker/colorpicker.css"|static_v }}'>
      <link rel='stylesheet' type='text/css' href='{{ "/css/colorpicker/layout.css"|static_v }}'>
      <link rel='stylesheet' type='text/css' href='{{ "/css/all.css"|static_v }}'>
      <link rel='stylesheet' type='text/css' href='{{ "/css/gradients.css"|static_v }}'>
    {% endblock %}
    {% block js %}
      <script src='{{ "/js/jquery-1.8.3.min.js"|static_v }}'></script>
      <script src='{{ "/js/jquery-ui-1.9.1.min.js"|static_v }}'></script>
      <script src='{{ "/js/colorpicker/js/colorpicker.js"|static_v }}'></script>
      <script src='{{ "/js/colorpicker/js/eye.js"|static_v }}'></script>
      <script src='{{ "/js/colorpicker/js/layout.js"|static_v }}'></script>
      <script src='{{ "/js/colorpicker/js/utils.js"|static_v }}'></script>
      <script src='{{ "/js/jquery.cookie.js"|static_v }}'></script>
      <script src='{{ "/js/copyText.js"|static_v }}'></script>
      <script src='{{ "/js/jquery.main.js"|static_v }}'></script>
      <script src='{{ "/js/colorFunctions.js"|static_v }}'></script>
      <script src='{{ "/js/jquery.zclip.min.js"|static_v }}'></script>
      <script src='//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js'></script>
      <script type="text/javascript">
        Raven.config({{ config.PUBLIC_SENTRY_DSN }}).install();
      </script>
    {% endblock %}
</head>
<body>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38602970-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <div id="wrapper" class="{{ page_id }}">
    {% block headerdetails %}
      <div class="clearfix headerdetail">
        <a class="logo" href="/"><img src="/img/cssmatic-logo.svg" height="65" onerror="this.onerror=null; this.src='/img/cssmatic-logo-detail.png'"></a>
        <p class="textop">{% trans %}The ultimate <strong>CSS tools</strong> for web designers{% endtrans %}</p>
        <p class="social-links">
          <a href="https://www.facebook.com/share.php?u={{ request.url|urlencode }}" onclick="window.open(this.href, '_blank', 'height=430,width=640'); return false;" title="{% trans %}Share with Facebook{% endtrans %}"><i class="flaticon fi-facebook42"></i></a>

          <a href="https://www.twitter.com/share?url={{ request.url|urlencode }}&amp;related=cssmatic" onclick="window.open(this.href, '_blank', 'height=430,width=640'); return false;" title="{% trans %}Tweet this page{% endtrans %}"><i class="flaticon fi-twitter35"></i></a>

          <a href="https://plus.google.com/share?url={{ request.url|urlencode }}" onclick="window.open(this.href, '_blank', 'height=430,width=640'); return false;" title="{% trans %}Google+ this page{% endtrans %}"><i class="flaticon fi-google105"></i></a>
        </p>
      </div>
    {% endblock %}

    {% block menu %}
      <ul class="nav">
        {# NOTE: Don't close this "li" or you will have a gap between elements
        (due to the whitespace between </li> and <li>) #}
        {% for p in page_plugins %}
          {% if page_id == p.cssname %}
            <li class="nav-selected"><h1><a href="{{ p.url }}">{{ p.humanname }}</a></h1>
          {% else %}
            <li><a href="{{ p.url }}">{{ p.humanname }}</a>
          {% endif %}
        {% endfor %}
      </ul>
    {% endblock %}

    {% block innerbody %}
    {% endblock %}

    {% block collaborate %}
      <div id="collaborate" class="clearfix">
        <div class="text">
          <p>{% trans %}<strong>CSSmatic</strong> is a non-profit project, made by developers for developers{% endtrans %}</p>
          <p>{% trans %}Are you a web developer?  Would you like to collaborate on CSSMatic?{% endtrans %}</p>
        </div>
        <span class="cartoon"></span>
        <a href="/contact" class="contact">{% trans %}Contact us{% endtrans %}</a>
      </div>
    {% endblock %}

    <span class="bylogos">{% trans %}Designed and developed by{% endtrans %}<br /><br />
      <a class="logofreepik bl" href="http://www.freepik.com">Freepik.com</a>
      <a class="logothumbr bl" href="http://www.thumbr.it">Thumbr.it</a>
    </span>
  </div>
  <div id="opacity-gradient" class="slider-bar large" style="display: none;"></div>

  <div id="footer">
    <span class="copyright">&copy; 2013 CSSmatic</span> |
    <a href="/about">{% trans %}About{% endtrans %}</a> |
    <a href="/contact">{% trans %}Contact{% endtrans %}</a>
  </div>
</body>
</html>