{% extends "base.html" %}

{% block title %}{% trans %}Border Radius CSS Generator | CSSmatic{% endtrans %}{% endblock %}

{% block js %}
  {{ super() }}
  <script src='{{ "/js/borderRadius.js"|static_v }}'></script>
{% endblock %}

{% block innerbody %}
<div class="twocolumns">
    <div class="left-column">
        <div class="box">
            <div class="holder">
                <div class="frame">
                    <div class="setting-block">
                        <div class="row">
                            <label for="all-corners">{% trans %}All Corners{% endtrans %}</label>
                            <label class="align-right" for="all-corners">px</label>
                            <div class="text-1">
                                <input id="all-corners" type="text" value="10" />
                            </div>
                        </div>
                        <div id="slider-all-corners" class="slider-bar large"></div>
                    </div>
                    <div class="setting-block">
                        <div class="row">
                            <label for="top-left">{% trans %}Top Left{% endtrans %}</label>
                            <label class="align-right" for="top-left">px</label>
                            <div class="text-1">
                                <input id="top-left" type="text" value="10" />
                            </div>
                        </div>
                        <div id="slider-top-left" class="slider-bar large"></div>
                        <div class="row mtop15">
                            <label for="top-right">{% trans %}Top Right{% endtrans %}</label>
                            <label class="align-right" for="top-right">px</label>
                            <div class="text-1">
                                <input id="top-right" type="text" value="10" />
                            </div>
                        </div>
                        <div id="slider-top-right" class="slider-bar large"></div>
                        <div class="row mtop15">
                            <label for="bottom-left">{% trans %}Bottom Left{% endtrans %}</label>
                            <label class="align-right" for="bottom-left">px</label>
                            <div class="text-1">
                                <input id="bottom-left" type="text" value="10" />
                            </div>
                        </div>
                        <div id="slider-bottom-left" class="slider-bar large"></div>
                        <div class="row mtop15" >
                            <label for="bottom-right">{% trans %}Bottom Right{% endtrans %}</label>
                            <label class="align-right" for="bottom-right">px</label>
                            <div class="text-1">
                                <input id="bottom-right" type="text" value="10" />
                            </div>
                        </div>
                        <div id="slider-bottom-right" class="slider-bar large"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="holder">
                <div class="frame">
                    <div class="setting-block">
                        <div class="row">
                            <label for="border-width">{% trans %}Border Width{% endtrans %}</label>
                            <label class="align-right" for="border-width">px</label>
                            <div class="text-1">
                                <input id="border-width" type="text" value="0" />
                            </div>
                        </div>
                        <div id="slider-border-width" class="slider-bar large"></div>
                    </div>
                    <div class="setting-block">
                        <div class="row">
                            <label for="vertical-length">{% trans %}Border Style{% endtrans %}</label>
                            <div class="text-1">
                                <select id="select-border">
                                    <option value="solid">{% trans %}solid{% endtrans %}</option>
                                    <option value="dotted">{% trans %}dotted{% endtrans %}</option>
                                    <option value="dashed">{% trans %}dashed{% endtrans %}</option>
                                    <option value="double">{% trans %}double{% endtrans %}</option>
                                    <option value="groove">{% trans %}groove{% endtrans %}</option>
                                    <option value="ridge">{% trans %}ridge{% endtrans %}</option>
                                    <option value="inset">{% trans %}inset{% endtrans %}</option>
                                    <option value="outset">{% trans %}outset{% endtrans %}</option>
                                    <option value="inherit">{% trans %}inherit{% endtrans %}</option>
                                    <option value="hidden">{% trans %}hidden{% endtrans %}</option>
                                    <option value="none">{% trans %}none{% endtrans %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="br-color">{% trans %}Border Color{% endtrans %}</label>
                            <div class="text-2">
                                <input id="br-color" type="text" value="#000000" />
                            </div>
                            <a id="br-color-button" class="btn-color color-3" href="javascript:;">
                                <span>{% trans %}color{% endtrans %}</span>
                            </a>
                        </div>
                        <div class="row">
                            <label for="br-background-color">{% trans %}Background Color{% endtrans %}</label>
                            <div class="text-2">
                                <input id="br-background-color" type="text" value="#e7a61a" />
                            </div>
                            <a id="br-background-color-button" class="btn-color color-4" href="javascript:;">
                                <span>color</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-column">
        <div class="box-wrap">
            <div id="border-radius-code" class="content"></div>

            <div id="border-radius-panel">
                <div id="border-radius-object"><a id="copy-text-input" class="btn-link-1" href="javascript:;">{% trans %}Copy Text{% endtrans %}</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}