{% extends "base.html" %}

{% block js %}{% endblock %}
{% block menu %}{% endblock %}
{% block headerdetails %}{% endblock %}

{% block innerbody %}
  <a class="logo" href="/"><img src="/img/cssmatic-logo.png"></a>
  <h1 class="h1home">{% trans %}The ultimate <strong>CSS tools</strong> for web designers{% endtrans %}</h1>

  <ul class="switcher clearfix">
    {% for plugin in page_plugins %}
      <li>
        <a href="{{ plugin.url }}">
          <h3>{{ plugin.humanname }}</h3>
          {{ plugin.description_html|safe }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
